html {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin:0 auto;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.05rem;
  background-color: #f7f7f7;
  color: #242526;
}

nav {
  display:flex;
  margin: auto;
  background-color:#0d6efd; 
  width:100%;
  
}

nav a, a:active, a:visited{
  color:#f7f7f7;
  text-decoration: none;
}

nav a:hover {
  color:rgb(255, 255, 255);
}

nav ul{
  margin:0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding:1rem;
  list-style-type: none;
}

nav li {
  margin-right:2rem;
  vertical-align: middle;
}

.smallNav{
  display:none;
}

.homeContainer {
  display:flex;
  flex-direction: column;
  align-items: center;
  /*background-image: url(./components/assets/bgimg.jpg);*/
  margin:auto;
  width:100%;
  box-sizing: border-box;
}

.homeContainer :nth-child(1){
  min-width: 30%;
}

.aboutText{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:0 3rem;
  font-size: medium;
}

.weatherIcon{
  width:80px;
  height:80px;
  margin: 2rem 0;
}

.loginIcon{
  width:80px;
  height:80px;
  margin: 1rem 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.header span {
  color:#0d6efd;
}

.weatherTable{
  display:flex;
  flex-wrap: wrap;
  column-gap:3rem;
  box-sizing: border-box;
}

.cityCountry {
  align-self:flex-start;
  color:#0d6efd;
  margin-top:2rem;
  margin-bottom: 1rem;
  margin-left:1rem;
}

.cityCountry h3 {
  font-size: larger;
}

.weatherTable th {
  color:#0d6efd;
  font-weight: bold;
  font-size: smaller;
  
  white-space: normal !important;
  word-wrap:break-word;
}

.openWeatherIcon {
  display: inline-block;
  max-width: 0px
}

.errMsg{
  font-size: medium;
  color:#e41b1b;
  margin: 2rem 0rem 0rem 2rem;
}

.userLogo{
  margin-top:2rem;
  margin-bottom:1rem;
  width:90px ;
  border-radius:50px;
  border: 5px solid #0d6efd;
}

.userInfo{
  text-align: center;
  margin:auto 2rem;
  font-family: 'Roboto', sans-serif;
}

.noUser{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  font-size:large;
  font-weight:200;
}

.hamburgerWrapper{
  display: none;
}

.hamburgerIcon {
  display:none;
  margin:1rem;
}

.hamburgerBtn{
  border:none;
  outline:none;
  background: none;
}
.privacyPolicy{
  padding:0 2rem;
  text-align: justify;
}

.privacyPolicy h1, h2 {
  color:#0d6efd;
  text-align: center;
}

.privacyPolicy h1{
  padding:1rem;
}

.privacyPolicy p{
  padding:1rem 0;
}

/*SPINNER*/
.loader {
  margin-top:1rem;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #0d6efd; 
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*SMALL SCREENS*/
@media (max-width: 440px) {
  nav {
    display:none;
  }
  .hamburgerWrapper{
    display: flex;
    justify-content: flex-end;
    margin:0;
  }

  .hamburgerIcon {
    display:block;
  }

  .smallNav {
    display:block;
    justify-content: center;
  }
  .smallNav ul{
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:1rem;
  }
  .smallNav ul li{
    align-self:center;
    font-size:large;
    margin:0;
  }
}

/*DESKTOP SCREENS*/
@media (min-width: 60rem) {
  .aboutText{
    font-size: large;
  }

  .weatherIcon{
    width:100px;
    height:100px;
  }

  .loginIcon{
    width:100px;
    height:100px;
    margin: 1rem 0;
  }

  .weatherTable {
    margin: 0 20vw;
    min-width: 50%;
    margin-top:3rem;
  }

  .weatherTable span{
    font-size:larger;
  }

  .weatherTable th {
    font-size:larger;
    text-align: center;   
  }

  .weatherTable td {
    font-size:x-large;
    text-align: center;
  }

  nav {
    padding:0;
  }

  nav li{
    margin-right:4rem;
    font-size:larger;
  }

  .userLogo{
    margin-top:3rem;
    margin-bottom:1rem;
    width:150px ;
    border-radius:100px;
  }

  .noUser{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    font-size:large;
  }

  .privacyPolicy{
    padding:0 15rem;
    text-align: justify;
  }

}

