html {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin:0 auto;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  letter-spacing: 0.05rem;
  color: #181717;
}

a {
  text-decoration: none;
}

nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(99, 173, 238);
  margin:auto;
  width:70%;
  height: 8vh;
  padding:1rem;
}

li {
  display:inline;
  margin-right:3rem;
}

.weatherFormWrapper {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:aliceblue;
  margin:auto;
  width:70%;
  min-height: 92vh;
}

form {
 position:relative;
 text-align: center;
}

button {
  border: none;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  padding:0.5rem;
  margin: 1rem;
  cursor:pointer;
}
.lowerContainer {
  display:flex;
  justify-content: center;
  align-items: center;
  width:70%;
  background-color: rgb(20, 29, 117);
  opacity:0.9;
  margin:auto;
  min-height: 30vh;
}