html {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin:0 auto;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.05rem;
  background-color: #f7f7f7;
}

nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color:#0275d8;
  margin:auto;
  width:100%;
  height: 10vh;
  padding:1rem;
}

nav a, a:active, a:visited{
  color:#f7f7f7;
  text-decoration: none;
}

nav a:hover {
  color:rgb(255, 255, 255);
}

nav ul{
  margin:0;
}

nav li {
  display: inline;
  margin-right:3rem;
}

.homeContainer {
  display:flex;
  flex-direction: column;
  align-items: center;
  /*background-image: url(./components/assets/bgimg.jpg);*/
  margin:auto;
  width:100%;
  box-sizing: border-box;
}

.homeContainer :nth-child(1){
  min-width: 30%;
}

.weatherIcon{
  width:60px;
  height:60px;
  margin: 1rem 0;
}

.loginIcon{
  width:60px;
  height:60px;
  margin: 1rem 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.header span {
  color:#0683f1;
}

.weatherTable{
  display:flex;
  flex-wrap: wrap;
  column-gap:3rem;
  padding:2rem;
}

.cityCountry {
  align-self:flex-start;
  color:#0683f1;
  margin-bottom:1rem;
}

.weatherTable thead {
  color:#0683f1;
}

.errMsg{
  display:none;
  font-size: smaller;
  margin-bottom:1rem;
  color:#e41b1b;
  margin: 1rem auto;
}

@media (min-width: 60rem) {
  .weatherIcon{
    width:100px;
    height:100px;
  }

  .loginIcon{
    width:100px;
    height:100px;
    margin: 1rem 0;
  }

  .weatherTable {
    margin: 0 20vw;
    min-width: 50%;
  }

  .weatherTable span{
    font-size:larger;
  }

  .weatherTable th {
    font-size:larger;
    text-align: center;   
  }

  .weatherTable td {
    font-size:x-large;
    text-align: center;
  }

  nav ul{
    font-size:larger;
  }

}